@model IQueryable<CatStore.WebMVC.Models.Domain.StoreEntities.PetEntities.PetEntity>
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form>
        <input type="text" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
<h2>Pets</h2>
<section class="pets">
    @foreach(var pet in Model) {
        <div class="pet-card" onclick="window.location.href='/Home/PetDetail?petId=@pet.Id'">
            <div class="pet-image">
            @if (String.IsNullOrEmpty(@pet.Image)){
                <img src="/Uploads/emptyCatImage.jpg">
            } else {
                <img src="/Uploads/@pet.Image">
            }
            </div>
            <div class="pet-info">
                <h4>@pet.Title</h4>
                <h4>Вид: @pet.PetKind.ToString()</h4>
                <h4>Имя: @pet.Name</h4>
            </div>
        </div>
    }
</section>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>